//////////////////////////////////////////////////
// COLORS
$color-blue--1: hsl(215, 51%, 70%);
$color-blue--2: hsl(215, 32%, 27%);
$color-blue--3: hsl(216, 50%, 16%);
$color-blue--4: hsl(217, 54%, 11%);

$color-cyan: hsl(178, 100%, 50%);
$color-white: hsl(0, 0%, 100%);

//////////////////////////////////////////////////
// FONTS
$font-small: 1.6rem;
$font-medium: 1.8rem;
$font-large: 2.2rem;
// $font-huge: ;

//////////////////////////////////////////////////
// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 23.8125em) {
      // 381px and below
      @content;
    }
  }
}
