/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}
/* CSS RESET */

html {
  font-family: "Outfit";
  font-size: 18px;
}

body {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-headertxt {
  font-size: 24px;
  color: white;
  font-weight: 600;
  padding: 1.2rem 0;
}

.card {
  background-color: hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
  align-items: center; */
  border-radius: 15px;
  max-height: 750px;
  max-width: 300px;
  padding: 1.25rem;
  box-shadow: 0px 10px 20px 30px #0c1729;
}

.card-img {
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background: url(images/image-equilibrium.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  /* display: block; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.card-img-hover {
  position: absolute;
  background-color: hsla(178, 100%, 50%, 0.555);
  opacity: 0;
  width: 300px;
  height: 282px;
  /* padding: 7rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.card-img-hover img {
  height: 50px;
  width: 50px;
}

.card-img-hover:hover {
  opacity: 0.7;
}

/* .card-img:hover,
.card-img:focus {
  background-image: url(images/icon-view.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsla(178, 100%, 50%, 0.555);
  opacity: 0.6;
  transition: all 500ms ease-in-out;
} */

.card-msg,
.clock,
.truce-container span,
.attribution,
a {
  color: hsl(215, 51%, 70%);
}

.card-msg,
.clock,
.truce-text span {
  opacity: 0.7;
  font-weight: 300;
}

.eth {
  color: hsl(178, 100%, 50%);
}

.eth-container {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;
  border-bottom: 1px solid hsl(215, 51%, 70%);
  font-weight: 400;
}

.truce-container {
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
}

.truce-picture {
  max-width: 15%;
  max-height: 15%;
  border-radius: 100%;
  border: 1px solid white;
}

.truce-text {
  padding-left: 1rem;
}

.truce-container a {
  color: white;
}

.attribution,
a {
  text-align: center;
  color: hsl(215, 51%, 70%);
  padding-bottom: 1rem;
}

.attribution a:hover,
.attribution a:focus,
.card-headertxt:hover,
.card-headertxt:focus,
.truce-container a:hover,
.truce-container a:focus {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
  transition: color 200ms ease-in-out;
}
